<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/images/ieee-potrait logo.svg"
      type="image/x-icon"
    />
    <title>IEEE IARE Members</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="images/ieee-potrait logo.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="evconatiner">
      <div class="navbar">
        <a href="ieee.html">
          <img src="images/ieee-potrait logo.svg" class="EVlogo" />
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="">CS</a></li>
            <li><a href="">WIE</a></li>
            <li><a href="">SP</a></li>
            <li><a href="">RA</a></li>
            <!--<li><a href="CS_E.html">CS E</a></li>
            <li><a href="CS_M.html">CS M</a></li>
            <li><a href="WIE_E.html">WIE E</a></li>
            <li><a href="WIE_M.html">WIE M</a></li>-->
          </ul>
        </nav>
      </div>
    </div>
    <div class="MemContainer">
      <div class="Members2">
        <div class="membersheading">Members</div>
      </div>
      <div class="memberstitle">IEEE SB</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">K Anirudh</div>
              <div class="rollno">19951A0524</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>President<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/srikruthi.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">A Srikruthi</div>
              <div class="rollno">19951A0545</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Joint
            Secretary<span class="material-icons-outlined"> star </span>
          </div>
          <img src="/images/avinash.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">V Avinash</div>
              <div class="rollno">19951A0535</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE CS</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">G Srilekha</div>
              <div class="rollno">19951A05K7</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>President<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">M Nayan</div>
              <div class="rollno">19951A05A8</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice
            President<span class="material-icons-outlined"> star </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">T Vyshnavi</div>
              <div class="rollno">19951A05P6</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="memberstitle">IEEE WIE</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">Rahimunisa</div>
              <div class="rollno">19951A0538</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>President<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">N Deepthi</div>
              <div class="rollno">19951A0547</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice
            President<span class="material-icons-outlined"> star </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">A Sri Krithi</div>
              <div class="rollno">19951A05J9</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE SP</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">K Bhavajeet</div>
              <div class="rollno">20951A0427</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">K Bhanu Prakash</div>
              <div class="rollno">20951A0423</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Treasurer<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">V Bhagyavanth</div>
              <div class="rollno">21955A0403</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE RA</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">K Chidananda</div>
              <div class="rollno">20952A0437</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">M Avinash</div>
              <div class="rollno">20951A0437</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Treasurer<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="images/member.jpg" alt="member" />
          <div class="details">
            <a href="http://" target="_blank"><i class="fab fa-google"></i></a>
            <div class="topdetails">
              <div class="name">B Arshitha</div>
              <div class="rollno">20951A0419</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <footer>
      <div class="footerclass">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
        </div>
        <ul class="social_media">
          <li>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="mail-open-outline"></ion-icon></a>
          </li>
        </ul>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="">CS</a></li>
          <li><a href="">WIE</a></li>
          <li><a href="">SP</a></li>
          <li><a href="">RA</a></li>
          <!--<li><a href="CS_E.html">CS E</a></li>
        <li><a href="CS_M.html">CS M</a></li>
        <li><a href="WIE_E.html">WIE E</a></li>
        <li><a href="WIE_M.html">WIE M</a></li>-->
        </ul>
        <p>
          Copyright ©
          <script>
            var CurrentYear = new Date().getFullYear();
            document.write(CurrentYear);
          </script>
        </p>
      </div>
    </footer>
  </body>
</html>
